body{
    height:97vh;
    font-family: 'Geneva', sans-serif;
    background-color: rgb(216, 237, 255);
    margin:0;
    padding:0;
}
button{
    cursor: pointer;
    transition: 0.3s;
}
#grid-container {
    display: grid;
    grid-template-columns: 1.2fr 8fr 2fr;
    height:100%;
}
#left-side-bar{
    display:grid;
    grid-template-rows: 1.25fr 5fr 5fr 5fr;
    background-color: rgb(216, 237, 255);
}
.period{
    padding:0;
    margin:10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right:1vw;
    border-radius:10px;
    border-width:5px;
    border-style:solid;
    border-color:navy;
    color: navy;
    background-color: white;
}
.period.selected{
    background-color: navy;
    color: white;
}
#app-title{
    margin:0;
    padding-left:4px;
    padding-top:1px;
    padding-bottom:1px;
    vertical-align: middle; 
    font-size: 2vh;
    color: navy;
    /* background-color: rgb(233, 233, 233); */
    background-color: white;
    border-left:5px;
    border-top:0;
    border-right:0;
    border-bottom:0;
    border-style: solid;
}

#main-content{
    background-color: rgb(216, 237, 255);
    display:grid;
    grid-template-rows: 1fr 1fr 12fr;
    gap: 5px;
}
#days{
    margin-left:10px;
    margin-right:10px;
    display:grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.day{
    font-weight:bold;
    background-color: white;
    color: navy;
    border-width:4px;
    border-style:solid;
    border-color: navy;
    border-radius:10px;
}
#week-view{
    font-weight:bold;
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
    background-color: white;
    color: navy;
    border-width:4px;
    border-style:solid;
    border-color: navy;
    border-radius:10px;
}
.day.selected{
    background-color: navy;
    color: white;
}
#week-view.selected{
    background-color: navy;
    color: white;
}
#week-schedule{
    margin-left:10px;
    margin-right:10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#day-schedule{
    overflow:auto;
    margin-left:10px;
    margin-right:10px;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border-radius:10px;
    border-style:solid;
    border-color:navy;
    background-color: white;
    
}

.schedule-block{
    border-radius:10px;
    border-style:solid;
    border-color:navy;
    background-color: white;
    text-align: center;
    overflow:auto;
}
#right-side-bar{
    background-color: rgb(216, 237, 255);
    display: grid;
    gap: 5px;
    grid-template-rows: 1fr 13fr;
}
#right-header{
    color: navy;
    margin-top:20px;
    text-align: center;
    font-size: 100%;
    border-radius:10px;
    border-style:solid;
    border-color:navy;
    background-color: white;
}
#filters{
    overflow:auto;
    border-style:solid;
    border-color:navy;
    border-radius:10px;
    background-color: white;
}