{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Peer Tutoring Schedule</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/schedule.css' %}">
    
</head>
<body>
    <div class = "grid-container">
        <div class = "left-side-bar">
            <div id = "week-of">Week of 5/12-6/16</div>
            
            <button class = "period" id = "period-4">4</button>
            <button class = "period" id = "period-5">5</button>
            <button class = "period" id = "period-6">6</button>
        </div>
        <div class = "main-content">
            <button class = "day" id = "week-view">WEEK VIEW</button>
            <div class = "days">
                <button class = "day" id = "mon">MONDAY</button>
                <button class = "day" id = "tue">TUESDAY</button>
                <button class = "day" id = "wed">WEDNESDAY</button>
                <button class = "day" id = "thu">THURSDAY</button>
                <button class = "day" id = "fri">FRIDAY</button>
            </div>
            <div id = "week-schedule">
                <div class = "schedule-block">asdfa</div>
                <div class = "schedule-block">fadsfsd</div>
                <div class = "schedule-block">acdsasdf</div>
                <div class = "schedule-block">asdfasdf</div>
                <div class = "schedule-block">asdfasdf</div>
            </div>
            <div id = "day-schedule">

            </div>
        </div>
        <div class = "right-side-bar">
            <div class = "right-header">Filters</div>
            <div class = "filters">
                <label>filter1</label>
                <label>filter2</label>
                <label>filter3</label>
            </div>
        </div>
    </div>
    <script src = "{% static 'js/elements.js' %}"></script>
    <script src = "{% static 'js/schedule.js' %}"></script>

</body>
</html>
