{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Peer Tutoring Schedule</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/schedule.css' %}">
    
</head>
<body>
    <div id = "grid-container">
        <div id = "left-side-bar">
            <div>
                <h1 id = "app-title">Peer Tutoring Schedule</h1>
            </div>
            <button class = "period" id = "period-4">4</button>
            <button class = "period" id = "period-5">5</button>
            <button class = "period" id = "period-6">6</button>
        </div>
        <div id = "main-content">
            <button id = "week-view">Week View</button>
            <div id = "days">
                <button class = "day" id = "mon">Monday</button>
                <button class = "day" id = "tue">Tuesday</button>
                <button class = "day" id = "wed">Wednesday</button>
                <button class = "day" id = "thu">Thursday</button>
                <button class = "day" id = "fri">Friday</button>
            </div>
            <div id = "week-schedule">
                <div class = "schedule-block">asdfa</div>
                <div class = "schedule-block">fadsfsd</div>
                <div class = "schedule-block">acdsasdf</div>
                <div class = "schedule-block">asdfasdf</div>
                <div class = "schedule-block">asdfasdf</div>
            </div>
            <div id = "day-schedule">
                asdfasdfasdfasdfasdfasdfasdfasdfasdf
            </div>
        </div>
        <div id = "right-side-bar">
            <div id = "right-header">Filters</div>
            <div id = "filters">
                <div class = "filter" id = "math-filters">
                    math filters here
                </div>
                <div class = "filter" id = "science-filters">
                    science filters here
                </div>
                <div class = "filter" id = "comm-arts-filters">
                    comm arts filters here
                </div>
                <div class = "filter" id = "social-science-filters">
                    social science filters here
                </div>
                <div class = "filter" id = "foreign-language-filters">
                    foreign language filters here
                </div>
                <div class = "filter" id = "art-filters">
                    art filters here
                </div>
                <div class = "filter" id = "technology-filters">
                    technology filters here
                </div>
            </div>
        </div>
    </div>
    <script src = "{% static 'js/elements.js' %}"></script>
    <script src = "{% static 'js/schedule.js' %}"></script>
    <script src="{% static 'js/fittext.js' %}"></script>
    <script>
        window.fitText( document.getElementById("app-title"), 0.7 );
        window.fitText( document.getElementsByClassName("period"), 0.1 );
        window.fitText( document.getElementsByClassName("day"), 0.7 );
        window.fitText( document.getElementById("week-view"), 5 );
        window.fitText( document.getElementById("right-header") );
    </script>
</body>
</html>
